<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<PayU_PayU>
			<version>0.1.5</version>
		</PayU_PayU>
	</modules>

	<adminhtml>
		<translate>
			<modules>
				<PayU_PayU>
					<files>
						<default>PayU_PayU.csv</default>
					</files>
				</PayU_PayU>
			</modules>
		</translate>
	</adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<PayU_PayU before="Mage_Adminhtml">PayU_PayU_Adminhtml</PayU_PayU>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<PayU_PayU before="Mage_Checkout">PayU_PayU_Checkout</PayU_PayU>
					</modules>
				</args>
			</checkout>
			<PayU>
				<use>standard</use>
				<args>
					<module>PayU_PayU</module>
					<frontName>payu</frontName>
				</args>
			</PayU>
		</routers>
		<layout>
			<updates>
				<payu module="PayU_PayU">
					<file>payu.xml</file>
				</payu>
			</updates>
		</layout>
		<translate>
			<modules>
				<PayU_PayU>
					<files>
						<default>PayU_PayU.csv</default>
					</files>
				</PayU_PayU>
			</modules>
		</translate>
	</frontend>

	<global>
		<blocks>
			<payu>
				<class>PayU_PayU_Block</class>
			</payu>
			<adminhtml>
				<rewrite>
					<sales_order_view>PayU_PayU_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<payu>
				<class>PayU_PayU_Model</class>
			</payu>
		</models>
		<helpers>
			<payu>
				<class>PayU_PayU_Helper</class>
			</payu>
		</helpers>
		<resources>

			<payu_setup>
				<setup>
					<module>PayU_PayU</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</payu_setup>
			<payu_write>
				<connection>
					<use>core_write</use>
				</connection>
			</payu_write>
			<payu_read>
				<connection>
					<use>core_read</use>
				</connection>
			</payu_read>
		</resources>
	</global>

	<default>
		<payment>
			<payu>
				<active>1</active>
				<model>payu/payment</model>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
			</payu>
		</payment>
	</default>
</config>