<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PayU_Account>
            <version>2.4.4</version>
        </PayU_Account>
    </modules>
    <global>
        <models>
            <payu>
                <class>PayU_Account_Model</class>
            </payu>
        </models>
        <helpers>
            <payu>
                <class>PayU_Account_Helper</class>
            </payu>
        </helpers>
        <blocks>
            <payu>
                <class>PayU_Account_Block</class>
            </payu>
        </blocks>
        <payment>
            <groups>
                <payu>PayU</payu>
            </groups>
        </payment>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <PayU_Account>
                    <files>
                        <default>PayU_Account.csv</default>
                    </files>
                </PayU_Account>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <payu>
                <use>standard</use>
                <args>
                    <module>PayU_Account</module>
                    <frontName>payu</frontName>
                </args>
            </payu>
        </routers>
        <translate>
            <modules>
                <payu>
                    <files>
                        <default>PayU_Account.csv</default>
                    </files>
                </payu>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <payu_account>
                <active>0</active>
                <sandbox>0</sandbox>
                <paytypes>1</paytypes>
                <title>PayU</title>
                <model>payu/method_payuAccount</model>
                <group>payu</group>
            </payu_account>
            <payu_card>
                <active>0</active>
                <sandbox>0</sandbox>
                <title>PayU - Cards</title>
                <model>payu/method_payuCard</model>
                <group>payu</group>
            </payu_card>
        </payment>
    </default>
</config>
