<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <payu_account translate="label comment" module="paygate">
                    <label>PayU</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>680</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[If you do not already have PayU merchant account, <a href="https://secure.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento#/form" target="_blank">please register in Production</a> or <a href="https://secure.snd.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento#/form" target="_blank">please register in Sandbox</a>]]></comment>
                    <frontend_model>payu/adminhtml_block_system_config_form_fieldset</frontend_model>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <header1 translate="label">
                            <label>Main parameters</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header1>
                        <active translate="label">
                            <label>Enable plugin?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <sandbox translate="label">
                            <label>Sandbox mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox>
                        <paytypes translate="label">
                            <label>Display payment methods</label>
                            <comment>Payment methods displayed on checkout page</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </paytypes>
                        <paytypes_order translate="label">
                            <label>Payment Methods Order</label>
                            <comment><![CDATA[Enter payment methods values separated by comma. <a href="http://developers.payu.com/pl/overview.html#paymethods" target="_blank">List of payment methods</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </paytypes_order>
                        <header2 translate="label">
                            <label>POS parameters</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header2>
                        <pos_id translate="label">
                            <label>POS ID (pos_id)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pos_id>
                        <signature_key translate="label">
                            <label>Second key (MD5)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signature_key>
                        <oauth_client_id translate="label">
                            <label>OAuth protocol - client_id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oauth_client_id>
                        <oauth_client_secret translate="label">
                            <label>OAuth protocol - client_secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oauth_client_secret>
                        <sandbox_header2 translate="label">
                            <label>POS parameters - Sandbox mode</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_header2>
                        <sandbox_pos_id translate="label">
                            <label>POS ID (pos_id)</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_pos_id>
                        <sandbox_signature_key translate="label">
                            <label>Second key (MD5)</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_signature_key>
                        <sandbox_oauth_client_id translate="label">
                            <label>OAuth protocol - client_id</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_oauth_client_id>
                        <sandbox_oauth_client_secret translate="label">
                            <label>OAuth protocol - client_secret</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_oauth_client_secret>
                        <header5 translate="label">
                            <label>PayU Plugin Information</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </header5>
                        <payuupdate translate="label">
                            <label>You are currently using version</label>
                            <frontend_type>multiline</frontend_type>
                            <frontend_model>payu/updateInfo</frontend_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payuupdate>
                    </fields>
                </payu_account>
                <payu_card translate="label comment" module="paygate">
                    <label>PayU - Cards</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>681</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[If you do not already have PayU merchant account, <a href="https://secure.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento#/form" target="_blank">please register in Production</a> or <a href="https://secure.snd.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento#/form" target="_blank">please register in Sandbox</a>]]></comment>
                    <frontend_model>payu/adminhtml_block_system_config_form_fieldset</frontend_model>
                    <fields>
                        <header1 translate="label">
                            <label>Main parameters</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header1>
                        <active translate="label">
                            <label>Enable plugin?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <sandbox translate="label">
                            <label>Sandbox mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox>
                        <header2 translate="label">
                            <label>POS parameters</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header2>
                        <pos_id translate="label">
                            <label>POS ID (pos_id)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pos_id>
                        <signature_key translate="label">
                            <label>Second key (MD5)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signature_key>
                        <oauth_client_id translate="label">
                            <label>OAuth protocol - client_id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oauth_client_id>
                        <oauth_client_secret translate="label">
                            <label>OAuth protocol - client_secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </oauth_client_secret>
                        <sandbox_header2 translate="label">
                            <label>POS parameters - Sandbox mode</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_header2>
                        <sandbox_pos_id translate="label">
                            <label>POS ID (pos_id)</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_pos_id>
                        <sandbox_signature_key translate="label">
                            <label>Second key (MD5)</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_signature_key>
                        <sandbox_oauth_client_id translate="label">
                            <label>OAuth protocol - client_id</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_oauth_client_id>
                        <sandbox_oauth_client_secret translate="label">
                            <label>OAuth protocol - client_secret</label>
                            <depends><sandbox>1</sandbox></depends>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_oauth_client_secret>
                        <header5 translate="label">
                            <label>PayU Plugin Information</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </header5>
                        <payuupdate translate="label">
                            <label>You are currently using version</label>
                            <frontend_type>multiline</frontend_type>
                            <frontend_model>payu/updateInfo</frontend_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payuupdate>
                    </fields>
                </payu_card>
            </groups>
        </payment>
    </sections>
</config>
